<div class="main-wrapper">
    <div class="main-container">
        {{{include 'dynamic-card' var='var2'}}}
        {{{include 'post'  var='var1'}}}
        {{{include 'dynamic-card'  var='var1'}}}
        {{{include 'post'  var='var2'}}}
        {{{include 'post'  var='var1'}}}
        {{{include 'dynamic-card' var='var1'}}}
        {{{include 'post'  var='var1'}}}
    </div>
</div>

